<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hgjoke">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".im.JWebSocketClientService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".im.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <activity android:name=".MessageDetailsActivity"></activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ClassPublishActivity" />
        <activity android:name=".activity.HomePublishActivity" />
        <activity android:name=".activity.ClassSearchActivity" />
        <activity android:name=".activity.HomeSearchActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ClassActivity" />
        <activity android:name=".activity.ShopDetailsActivity" />
        <activity android:name=".activity.ServerDetailsActivity" /> <!-- 注册 -->
        <activity android:name=".activity.login.RegisterActivity" /> <!-- 登录 -->
        <activity android:name=".activity.login.LoginActivity" />
    </application>

</manifest>